.container{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: start;

    

}
.box1{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: blue;
    
}
.box2{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: red;
    
}
.box3{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: yellow;

    
}